body{
    background-color: var(--body_background);
}
.Weather{
    border: 1px solid #dadde1 ;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--body_color);
    padding: 16px;
    border-radius: 4px;
}

.Weather h1{
    color: var(--primary_color);
    font-size: 24px;
    line-height: 29px;
    margin: 20px 0 0 0;
    font-weight: 100;
}

.Weather form{
    margin-bottom: 20px;
}
.Weather li{
font-size: 16px;
list-style: none;
font-weight: 100;
line-height: 19px;
}
.Weather ul{
    margin: 0;
    padding: 0;
}
.Weather .temprature{
    line-height: 64px;
    font-size: 54px;
    font-weight: 400;
    color: var(--primary_color);

}
.Weather canvas{
   vertical-align:bottom;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
}
.Weather .unit{
    font-size: 16px;
    font-weight: 400;
    color: var(--third_color);
    position: relative;
    top: -34px;
    line-height: 1;
}
.button{
    color: var(--body_background);
    background-color: var(--secondary_color);
}
.form-control:focus{
    color: var(--secondary_color) !important;
    box-shadow: 0 0 0 0.25rem rgba(251, 203, 229, 0.25);
}
a{
  color:  var(--primary_color);
}